<section class="our-features" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="our-features__feature">
          <span class="our-features__feature__icon"><i class="fas fa-truck"></i></span>
          <h3 class="our-features__feature__title m-0">Free Shipping</h3>
          <p class="our-features__feature__description m-0">all order</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="our-features__feature">
          <span class="our-features__feature__icon"><i class="fas fa-headphones"></i></span>
          <h3 class="our-features__feature__title m-0">24/7 customer</h3>
          <p class="our-features__feature__description m-0">support</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="our-features__feature">
          <span class="our-features__feature__icon"><i class="fas fa-reply-all"></i></span>
          <h3 class="our-features__feature__title m-0">money back</h3>
          <p class="our-features__feature__description m-0">guarantee</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="our-features__feature">
          <span class="our-features__feature__icon"><i class="fas fa-bullhorn"></i></span>
          <h3 class="our-features__feature__title m-0">MEMBER DISCOUNT</h3>
          <p class="our-features__feature__description m-0">first oredr</p>
        </div>
      </div>
    </div>
  </div>
</section>
