<!-- Navigate bar -->
<section class="navigation-top py-3" id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-6 navigation-top__hot-keys">
          <span class="navigation-top__hot-keys__item mr-3">USD</span>
          <span class="navigation-top__hot-keys__item mr-3">English</span>
          <a href="#" class="navigation-top__hot-keys__item underline-hover">Help</a>
      </div>
      <div class="col text-right navigation-top__entry">
        <a href="#" class="navigation-top__entry__register underline-hover mr-3" data-toggle="modal" data-target="#loginModal"><i class="fas fa-user mr-2"></i>Login</a>
        <a href="#" class="navigation-top__entry__register underline-hover mr-3" data-toggle="modal" data-target="#registerModal"><i class="fas fa-lock mr-2"></i>Register</a>
      </div>
    </div>
  </div>
</section>

<!-- Header -->
<section class="header py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col col-lg">
        <a href="tel:23003560222" class="header__phone d-flex align-items-center underline-hover">
          <i class="fas fa-mobile-alt d-none d-md-inline mr-2"></i>2300 - 3560 - 222
        </a>
      </div>
      <div class="col col-lg-2 d-flex justify-content-center">
        <div class="header__logo">
          <img src="./img/header__logo.png" class="img-fluid header__logo__image" alt="site logo">
        </div>
      </div>
      <div class="col-3 col-lg d-flex justify-content-end">
        <div class="header__basket d-flex align-items-center justify-content-center position-relative" data-count-items="0"  data-toggle="modal" data-target="#baskedModal">
          <i class="fas fa-shopping-basket pr-2"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Top-menu -->
<section class="navigation-bottom sticky-top">
  <div class="container">
    <div class="row align-content-stretch">
        <div class="col-4">
          <form class="navigation-bottom__search-form search-form">
            <label class="m-0">
              <input type="text" class="search-form__input h-100" placeholder="Search products...">
            </label>
            <button class="search-form__submit w-100" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="col">
          <nav class="navbar navbar-expand-lg p-0 d-flex justify-content-end h-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar__menu navbar-nav ml-auto">
                <li class="navbar__menu__item nav-item active"><a href="#navbar" class="navbar__menu__link nav-link p-0">home</a></li>
                <li class="navbar__menu__item nav-item"><a href="#slider" class="navbar__menu__link nav-link p-0">slider</a></li>
                <li class="navbar__menu__item nav-item"><a href="#features" class="navbar__menu__link nav-link p-0">features</a></li>
                <li class="navbar__menu__item nav-item"><a href="#stocks" class="navbar__menu__link nav-link p-0">stocks</a></li>
                <li class="navbar__menu__item nav-item"><a href="#products" class="navbar__menu__link nav-link p-0">products</a></li>
                <li class="navbar__menu__item nav-item"><a href="#gallery" class="navbar__menu__link nav-link p-0">gallery</a></li>
                <li class="navbar__menu__item nav-item"><a href="#blog" class="navbar__menu__link nav-link p-0">blog</a></li>
              </ul>
            </div>
          </nav>
        </div>
    </div>
  </div>
</section>
