<section class="blog my-5" id="blog">
    <div class="container">
        <h4 class="title-blog text-uppercase pb-2">
            lasted blog
        </h4>
        <div id="myCarousel" class="d-md-none carousel slide" data-ride="carousel">
            <div class="row pb-2">
                <div class="col-10">
                    <div class="carousel-hr d-md-none mx-0 mt-3 row">
                        <div class="col-2 indicator-blog active pr-0"></div>
                        <div  class="col-2 indicator-blog px-0"></div>
                        <div   class="col-2 indicator-blog px-0"></div>
                        <div   class="col-2 indicator-blog px-0"></div>
                        <div  class="col-2 indicator-blog px-0"></div>
                        <div   class="col-2 indicator-blog px-0"></div>
                    </div>
                </div>
                <div class="col-2 px-2 pb-1">
                    <div class="d-md-none array">
                        <a href="#myCarousel" data-slide="prev"
                           class="d-inline-block carousel-control-prev border-angle px-2">
                            <i class="fas fa-angle-left"></i>
                        </a>
                        <a href="#myCarousel" data-slide="next"
                           class="d-inline-block carousel-control-next border-angle px-2">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-12 px-0">
                        <div class="px-4 px-md-0">
                            <div class="carousel-inner ">
                                <div class="d-block d-md-none">
                                    <div class="carousel-item active">
                                        <div class="block-1">
                                            <div class="pic pic-1 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                  15 Jan 2016
                                                            </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="block-1">
                                            <div class="pic pic-2 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                  15 Jan 2016
                                                            </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="block-1">
                                            <div class="pic pic-3 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                  15 Jan 2016
                                                            </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="block-1">
                                            <div class="pic pic-4 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                  15 Jan 2016
                                                            </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="block-1">
                                            <div class="pic pic-5 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                  15 Jan 2016
                                                            </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="block-1">
                                            <div class="pic pic-6 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                  15 Jan 2016
                                                            </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                    <!--                                                </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="carousel" class="d-none d-md-block d-lg-none carousel slide" data-ride="carousel">
            <div class="row pb-2">
                <div class="col-10">
                    <div class="carousel-hr  mx-0 my-3 row">
                        <div class="col-2 indicator-blog active pr-0"></div>
                        <div  class="col-2 indicator-blog px-0"></div>
                        <div  class="col-2 indicator-blog px-0"></div>
                        <div  class="col-2 indicator-blog px-0"></div>
                        <div  class="col-2 indicator-blog px-0"></div>
                        <div  class="col-2 indicator-blog px-0"></div>
                    </div>
                </div>
                <div class="col-2 mb-1 ">
                    <div class=" carousel-indicators circle   justify-content-between d-lg-none">
                        <div data-target="#carousel" data-slide-to="0" class="col-2 active circle-blog  px-0"></div>
                        <div data-target="#carousel" data-slide-to="1" class="col-2 circle-blog  px-0"></div>
                        <div data-target="#carousel" data-slide-to="2" class="col-2 circle-blog  px-0"></div>
                        <div data-target="#carousel" data-slide-to="3" class="col-2 circle-blog px-0"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-12 px-0">
                        <div class="px-4 px-md-0">
                            <div class="carousel-inner">
                                <div class="carousel-item active ">
                                    <div class="row">
                                        <div class="block-1 col-6 pr-4">
                                            <div class="pic pic-1 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-2 col-6 pl-4">
                                            <div class="pic pic-2 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="row">
                                        <div class="block-1 col-6 pr-4">
                                            <div class="pic pic-3 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-2 col-6 pl-4">
                                            <div class="pic pic-4 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="row">
                                        <div class="block-1 col-6 pr-4">
                                            <div class="pic pic-5 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-2 col-6 pl-4">
                                            <div class="pic pic-6 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="row">
                                        <div class="block-1 col-6 pr-4">
                                            <div class="pic pic-3 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-2 col-6 pl-4">
                                            <div class="pic pic-4 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="carouselThird" class="d-none d-lg-block carousel slide" data-ride="carousel">
            <div class="row pb-4">
                <div class="col-11">
                        <div class="carousel-hr  mx-0 my-2 row">
                            <div class="col-2 indicator-blog active pr-0"></div>
                            <div  class="col-2 indicator-blog px-0"></div>
                            <div  class="col-2 indicator-blog px-0"></div>
                            <div  class="col-2 indicator-blog px-0"></div>
                            <div  class="col-2 indicator-blog px-0"></div>
                            <div  class="col-2 indicator-blog px-0"></div>
                        </div>
                </div>
                <div class="col-1 px-2 ">
                    <div class="circle d-flex mx-0 justify-content-between">
                        <div data-target="#carouselThird" data-slide-to="0"
                             class="circle-blog active px-0"></div>
                        <div data-target="#carouselThird" data-slide-to="1"
                             class="circle-blog px-0"></div>
                        <div data-target="#carouselThird" data-slide-to="2"
                             class="circle-blog  px-0"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-12 px-0">
                        <div class="px-4 px-md-0">
                            <div class="carousel-inner">
                                <div class="carousel-item active ">
                                    <div class="row">
                                        <div class="block-1 col-4 pr-4">
                                            <div class="pic pic-1 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-2 col-4 pl-4">
                                            <div class="pic pic-2 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-3 col-4 pl-4">
                                            <div class="pic pic-4 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="row">
                                        <div class="block-1 col-4 pr-4">
                                            <div class="pic pic-3 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-2 col-4 pl-4">
                                            <div class="pic pic-4 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-3 col-4 pl-4">
                                            <div class="pic pic-6 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="row">
                                        <div class="block-1 col-4 pr-4">
                                            <div class="pic pic-5 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-2 col-4 pl-4">
                                            <div class="pic pic-6 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-3 col-4 pl-4">
                                            <div class="pic pic-4 px-4">
                                                <div class="container">
                                                    <div class="connection text-center py-3">
                                                        <div class="d-inline-block pr-3">
                                                            <i class="far fa-calendar-alt"></i>
                                                            <span class="connection-data text-uppercase">
                                                                      15 Jan 2016
                                                                </span>
                                                        </div>
                                                        <div class="d-inline-block pl-3">
                                                            <i class="fas fa-comments"></i>
                                                            <span>4 Comments</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="description mt-4 px-4">
                                                    <h6 class="description-title">Products That Fight
                                                        Static </h6>
                                                    <p class="description-text">Aliquam dictum pellentesque
                                                        nibh sit
                                                        amet dapibus.
                                                        Vivamus eget
                                                        luctus nisi. Nullam euismod
                                                        leo vehicula, rutrum magna in, ornare enim vehicula,
                                                        rutrum
                                                        magna in, ornare
                                                        enim.</p>
                                                    <div class="row justify-content-center mt-4">
                                                        <div class="description-button  d-inline-block px-2 py-2 text-center">
                                                            <a href="#">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
