<!-- Modals -->
<!-- Register modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="Registration" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content rounded-0">
            <div class="modal-header border-0 d-block p-0 text-right">
                <button type="button" class="close-primary text-white border-0" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <h5 class="modal-title text-uppercase text-left px-4 pt-1">registration</h5>
            </div>
            <div class="modal-body border-0 px-4">
                <label class="w-100 my-2">
                    <input class="w-100" type="text" placeholder="Name*" required>
                </label>
                <label class="w-100 my-2">
                    <input class="w-100" type="email" placeholder="Email*" required>
                </label>
                <label class="w-100 my-2">
                    <input class="w-100" type="password" placeholder="Password*" required>
                </label>
            </div>
            <div class="modal-footer border-0 justify-content-start px-4 pt-1 pb-4">
                <button type="button" class="btn btn-primary text-uppercase px-3 py-2" onclick="<!-- sendForm(); -->">Register</button>
            </div>
        </form>
    </div>
</div>

<!-- Login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Registration" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content rounded-0">
            <div class="modal-header border-0 d-block p-0 text-right">
                <button type="button" class="close-primary text-white border-0" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <h5 class="modal-title text-uppercase text-left px-4 pt-1">Login</h5>
            </div>
            <div class="modal-body border-0 px-4">
                <label class="w-100 my-2">
                    <input class="w-100" type="email" placeholder="Name/Email*" required>
                </label>
                <label class="w-100 my-2">
                    <input class="w-100" type="password" placeholder="Password*" required>
                </label>
            </div>
            <div class="modal-footer border-0 justify-content-start px-4 pt-1 pb-4">
                <button type="button" class="btn btn-primary text-uppercase px-3 py-2" onclick="<!-- sendForm(); -->">Login</button>
            </div>
        </form>
    </div>
</div>

<!-- Basket modal -->
<div class="modal fade p-0" id="baskedModal" tabindex="-1" role="dialog" aria-labelledby="Basket Modal" aria-hidden="true">
    <div class="container">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content rounded-0 row">
                <div class="modal-header border-0 d-block p-0 text-right">
                    <button type="button" class="close-primary text-white border-0" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <form class="modal-body border-0 px-5">
                    <div class="cardIsEmpty pb-4" id="cardIsEmpty">
                        <h5 class="cardIsEmpty__title text-center mb-4">Your cart is empty</h5>
                        <p class="cardIsEmpty__description text-center">But it's never too late to fix it :)</p>
                    </div>
                    <div class="cardItems container" id="cardItems">
                        <div class="totalPrice text-right" id="totalPrice">
                            <span class="totalPrice__title">Total: </span>
                            <span class="totalPrice__value">0</span>
                        </div>
                    </div>
                </form>
                <div class="modal-footer border-0 justify-content-start px-5 pt-1 pb-4" id="modalFooter">
                    <button type="button" class="btn rounded-0 modal-footer__continue text-white text-uppercase position-relative px-4 py-2" onclick="basket.clear()"><i class="fas fa-chevron-right position-absolute"></i> continue</button>
                    <button type="button" class="btn rounded-0 modal-footer__buyNow text-white text-uppercase position-relative px-4 py-2 float-right" onclick="basket.clear()"><i class="fas fa-shopping-basket position-absolute"></i>buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>