<div class="container" id="stocks">
    <section class="benefits">
        <div class="container">
            <div class="row ">
                <div class="d-none d-md-block col-md-12 col-lg mb-md-4 mb-lg-0">
                    <div class="container">
                        <div class="bg-sofa">
                            <div class="inner-sofa text-light text-uppercase font-weight-bold ">
                                <h4 class="title-sofa">
                                    guest room
                                </h4>
                                <p class="text-sofa">
                                    sofa
                                </p>
                                <div class="sale-sofa d-inline-block px-2">
                                    -20%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg">
                    <div class="row">
                        <div class="col-12">
                            <div class="container  ">
                                <div class="bg-chair mb-4">
                                    <div class="row">
                                        <div class="col-3 py-2 px-0">
                                            <div class="chair-1">
                                                <img src="../img/stock/stocks_2.png" alt="" class="chair-black">
                                            </div>
                                        </div>
                                        <div class="col-6 info-chair px-0 pl-5 py-4 ">
                                            <h5 class="title-chair text-uppercase font-weight-bold">
                                                <strong>office</strong> chair
                                            </h5>
                                            <p class="text-chair text-uppercase font-weight-bold">
                                                collection
                                            </p>
                                            <p class="cost-chair text-uppercase font-weight-bold ">
                                                $200.00
                                            </p>
                                        </div>
                                        <div class="col-3 px-0 ">
                                            <div class="chair-2">
                                                <img src="../img/stock/stocks_3.png" alt="" class="chair-orange ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="container">
                                <div class="bg-bed">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="bed">
                                                <img src="../img/stock/stocks_4.png" alt="" class="bed-img">
                                            </div>
                                        </div>
                                        <div class="col-6 text-uppercase py-5">
                                            <h5 class="title-bed mb-0 pb-2">
                                                <strong>special</strong> collection
                                            </h5>
                                            <p class="text-bed mb-0">
                                                save up 45% of furniture
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
