.gallery {
  &__title {
    text-transform: uppercase;
    color: #d58e32;
    font-size: 20px;
    font-weight:  600;

    &::after {
      content: '';
      display: block;
      height: 3px;
      margin-top: 13px;
      background: linear-gradient(90deg, #d58e32 44px, #e2e2e2 0);
    }
  }

  &__tabs {
    border-bottom: 0;

    &__link {
      color: #2a2a2a;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;

      &.nav-link{
        border: 1px solid #e2e2e2;
        border-radius: 0;

        &:hover {
          color: #d58e32;
        }

        &.active {
          background-color: #f4f5f7;
          border-radius: 0;
          border: 0;
          border-top: 3px solid #d58e32;
          color: #d58e32;
        }
      }
    }
  }
}

.inner-gallery {
  &__content {
    background-color: #f4f5f7;
    overflow: hidden;
    height: 410px;
    border: 1px solid #e5e5e5;
  }

  &__tabs {
    border: 1px solid #e5e5e5;
    border-top: 0;

    &__button {
      color: #b08373;
      background: #2a2a2a;
      border: 0;
      font-size: 13px;
      width: 33px;
      flex: none;
    }

    img {
      width: 70px;
      height: 70px;
      padding: 5px;
      background: #cccccc;
      opacity: .5;
      object-fit: contain;
      object-position: center;
      margin: 0 3px;
      &.active {
        opacity: 1;
      }
    }
  }
}

.like, .view, .toCard {
  font-size: 16px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  width: 37px;
  height: 37px;
  background: transparent;
  z-index: 1;
  transition: color .4s, border-color .4s;

  &:hover {
    text-decoration: none;
    color: #d58e32;
    border-color: #d58e32;
  }

  &.active {
    @extend .like:hover;
  }
}

.roundPrice {
  width: 105px;
  height: 105px;
  background: #00000080;
  border-radius: 50%;
  bottom: 22px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;

  @media (min-width: 768px) {
    left: auto;
    right: 73px;
    bottom: 123px;
  }

  &__currentPrice {
    &::before {
      content: '$';
    }
  }

  &__lastPrice {
    margin-top: 11px;
    font-size: 16px;
    font-weight: 200;
    text-decoration: line-through;

    &::before {
      content: '$';
    }
  }
}

.aboutItem {
  width: 249px;
  height: 106px;
  box-shadow: 0 3px 6px rgba(1, 2, 2, 0.24);
  position: absolute;
  left: 80px;
  font-weight: 600;
  bottom: 22px;
  background: #fff;

  @media (min-width: 768px) {
    left: auto;
    right: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 29px;
    height: 29px;
    display: block;
    box-sizing: border-box;
    border: 15px solid;
    color: #2a2a2a;
    border-color: #2a2a2a transparent transparent #2a2a2a;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 29px;
    height: 29px;
    display: block;
    box-sizing: border-box;
    border: 15px solid;
    border-color: transparent #2a2a2a #2a2a2a transparent;
  }

  &__title {
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
    color: inherit;
  }

  &__rate {
    text-align: center;
    color: inherit;
  }
}

.itemImage {
  position: absolute;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  top: 9px;
  right: 0;
  
  @media (min-width: 768px) {
    right: 73px;
  }
}

.galleryBanner {
  height: 100%;
  color: #2a2a2a;
  font-size: 18px;
  position: relative;
  padding: 70px 62px;
  background: #e8edf7 url("../img/gallery/galleryBunner__sofa.png") center bottom 30px no-repeat;

  &__image {
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    object-fit: contain;
  }

  &__top {
    text-transform: uppercase;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 600;

    .price {
      color: #79ae30;
      font-size: 48px;
      margin-bottom: 23px;

      &::before {
        content: '$';
      }
    }
  }

  &__title {
    color: #d58e32;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 35px;
  }

  &__btn {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #79ae30;
    padding: 21px 32px;
  }
}