.blog{
  .title-blog{
    color: $activeColor;
    font-size: 24px;
  }
  .carousel-hr{
    .indicator-blog{
      background:#e2e2e2;
      height: 2px;
      width: 100%;
    }
    .active{
      background:$activeColor;
    }
  }


  .array{
    padding-top: 3px;
  }
  .carousel-control-prev, .carousel-control-next{
    position: relative;
    color: black;
    opacity: 1;
    width: 46%;
    padding: 2px 0;
  }
  .border-angle{
    border: 1px solid $main-color;
    height: 100%;
    &:hover{
      color: white;
      border-color: $activeColor;
      background: $activeColor;
    }
  }

  .circle{
    &-blog{
      display: inline-block;
      border-radius: 50%;
      background: #e2e2e2;
    }

  }

  .array-block{
    .carousel-control-next{
      color: $main-color;
    }
  }
  @each $numberPic in '1' '2' '3' '4' '5' '6' {
    .pic-#{$numberPic} {
      background-image: url('../../img/blog/#{$numberPic}.jpg');
    }
  }
  .pic{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:140px;
    &:hover{
      .connection{
        background: $activeColor;
      }
    }
    .connection{
      background: white;
    }
  }
  .description{
   &-title{
     color: $activeColor;
   }
    &-text{
      color: $white60;
    }
    &-button{
      background: $darkColor;
      &:hover{
        background: $activeColor;
      }
      &>*{
        text-decoration: none;
        color: white;
      }
    }

  }
}



@media (min-width: 768px) {
  .blog{
    .title-blog{
      font-size: 26px;
    }
  }

  .carousel-hr{
    .indicator-blog{
      background:#e2e2e2;
      height: 2px;
      width: 100%;
    }
    .active{
      background:$activeColor;
    }
  }
  .connection{
    font-size: 14px;
  }
  .circle{
    &-blog{
      height: 14px;
      margin-bottom: 7px;
    }
    .active{
      background: $activeColor;
    }
  }

}

@media (min-width: 1200px) {
  .blog{
    .title-blog{
      font-size: 32px;
    }
  }

  .circle{
    &-blog{
      height: 20px;
      width: 20px;
    }
  }
}
