.products {
  .products-filter {
    border: 1px solid $white60;
    .filter-span {
      font-size: 16px;
    }
  }
  .line-products {
    border: none;
    background-color: $main-color;
    height: 2px
  }

  .product-card {
    display: none;
    overflow: hidden;
    position: relative;
    max-width: 262px;
    margin: 0 auto 30px;
    &:before {
      content: 'sale';
      display: none;
      z-index: 2;
      left: 50%;
      top:0;
      width: 40px;
      text-align: center;
      transform: translate(-50%, -50%);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      position: absolute;
      background: $darkButtons;
      font-size: 12px;
      padding-top: 20px;
      color: white;
    }
    &:hover {
      &:before{
        display: block;
      }
      .product-photo {
          .product-sale {
            display: inline-block;
          }

        .product-button {
          .button-view, .button-card {
            display: block;
            text-decoration: none;
            border: none;
          }
          .button-view:focus, .button-card:focus{
            outline: none;
          }
          .button-view:hover{
            background: $activeColor;
          }
          .button-card:hover{
            background: $activeColor;
          }
        }
      }
      .info-products {
        .product-cost {
          background: $activeColor;
        }
      }
    }

    .product-photo {
      background: $lightgrey;
      min-height: 260px;
      position: relative;
        img {
          height: 260px;
        }
      }

      .product-button {
        .button-view, .button-card {
          position: absolute;
          display: none;
          top: 228px;
          background: $darkButtons;
          color: white;
          font-size: 16px;
        }
        .button-card{
          left: 115px;
        }
      }

    .info-products {
      box-sizing: border-box;
      border: 1px solid $lightgrey;
      border-top: none;

      &-title {
        color: $activeColor;
      }

      &-slide {
        .slide-hr {
          border: none;
          height: 1px;
          background: $white60;
          position: relative;

          &:before {
            content: '';
            width: 30px;
            height: 3px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            background: $activeColor;
          }
        }
      }

      &-actions {
        .action-like, .action-rewind {
          border: 1px solid $darkButtons;
          padding: 4px 0;

        }
      }

      .product-cost {
        background: $darkButtons;
        padding: 4px 0;

      }
    }
  }
  }



  .filter-block{
    .filter-title{
      font-size: 14px;
      font-weight: bold;
    }

    .filter-line{
      background: #2a2a2a;
    }

    .default-checkbox {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }

    .filter-quantity {
      padding: 1px 9px;
      background: $darkButtons;
      border-radius: 50%;
    }

    .checkbox-categories:checked + .checkbox-label-categories {
      color: $activeColor ;
    }

    .checkbox-categories:checked + .checkbox-label-categories > .filter-quantity {
      background-color: $activeColor ;
    }
  }

  @media screen and (min-width: 1200px) {
    .filter-block{
      .filter-title{
        font-size: 20px;
      }
    }
  }
  .price-filter{
    .price-inner-button{
      background: $activeColor;

    }
    .input-price-text{
      font-size: 14px;
      width: 80px;
      border: 1px solid;
    }
  }

.ui-slider-range {
  background-color: $main-color !important;
}
.ui-slider-handle {
  border-radius: 50% !important;
  border: 3px solid $activeColor !important;
  background: white !important;
  width: 25px !important;
  height: 25px !important;
  top: -7px !important;
  &:active {
    background-color: $activeColor;
    border: none;
  }
  &:focus {
    outline: none;
  }
}

.color-filter{
    .color-checkbox{
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      &--red{
        background: red;
      }
      &--blue{
        background: blue;
      }
      &--black{
        background: black;
      }
      &--yellow{
        background: yellow;
      }
      &--pink{
        background: pink;
      }
      &--green{
        background: green;
      }
      .check{
        position: absolute;
        transform: translate(-45%, -50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        opacity: 0;
      }
    }
    .color-text{
      font-size: 18px;
    }
  }

  .checkbox-color:checked + .checkbox-label__color .color-text{
    color: $activeColor;
  }

  .checkbox-color:checked +  .checkbox-label__color .check{
    opacity: 1;
  }

  .size-filter{
    .size-checkbox{
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      box-sizing: border-box;
      border: 1px solid $main-color;
      .check-size{
        position: absolute;
        transform: translate(-45%, -50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        color: white;
        opacity: 0;
      }
    }

    .checkbox-size:checked + .checkbox-label__size .size-checkbox{
      background: $activeColor;
      border: none;
    }
    .checkbox-size:checked + .checkbox-label__size .check-size{
      opacity: 1;
    }
    .checkbox-size:checked + .checkbox-label__size .text-size{
      color: $activeColor;
    }

    .checkbox-size:checked + .checkbox-label__size .filter-quantity{
      background: $activeColor;
    }

  }

  .filter-tags{
    &__list{
      flex-wrap: wrap;
    }
    .filter-tags__icon , .text-tags{
      color: #afafaf;
    }
    .checkbox-tags:checked + .checkbox-label__tags,
    .checkbox-tags:checked + .checkbox-label__tags .filter-tags__icon,
    .checkbox-tags:checked + .checkbox-label__tags .text-tags{
      color: $activeColor;
      border-color: $activeColor !important;
    }
  }
  .icon-reload{
    display: inline-block;
    background: #eeeeee;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0px 7px 15px 0px rgba(79,79,79,1);
    outline: none;
  }

.modal{
  overflow: hidden;
  .button-close{
    background: $main-color;
    position: absolute;
    opacity: 1;
    padding:5px 10px 10px 10px;
    &:focus{
      outline: none;
    }
    &:active{
      outline: none;

    }
  }

  .modal-content{
    background: white;
  }
}

  @media (min-width: 480px) {
    .modal-filter{
      left: 50%;
      transform: translateX(-50%);
    }

  }



.modal-show{
  &__title{
    font-size: 20px;
  }
  .img-container{
    width: 260px;
    min-height: 250px;
    background: $lightgrey;
    position: relative;
    img{
      height: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .button-card-modal{
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .button-card-modal:hover{
      background: $activeColor !important;
  }
  .old-price{
    color: #7b7b7b;
  }
  .text-modal-card{
    color: #7b7b7b;
    line-height: 20px;
  }

  .action-like{
    padding: 2px;
    border: 1px solid $main-color;
  }
  .modal-show-info{
    font-size: 14px;
  }


  .btn-show{
    color:$darkColor;
    border: 1px solid $darkButtons;
    padding: 6px 3px;
    background: white;
    outline: none;
    &:hover{
      text-decoration: none;
    }
    &:not(:last-child){
      margin-right: 5px;
    }
    .fa-facebook-f{
      color: #3b5998;
    }
    .fa-google-plus-g{
      color: #d62d20;
    }
    .fa-twitter{
      color: #4099ff;
    }
    .fa-pinterest-p{
      color: #c92228;
    }
    .fa-linkedin-in{
      color: #0077b5;
    }
  }
  .btn{
    &-facebook:hover{
      color: white;
      background: #3b5998;
      border-color:  #3b5998;
      &>*{
        color: white;
      }
    }
    &-google:hover{
      color: white;
      background: #d62d20;
      border-color: #d62d20;
      &>*{
        color: white;
      }
    }
    &-twitter:hover{
      color: white;
      background: #4099ff;
      border-color: #4099ff;
      &>*{
        color: white;
      }
    }
    &-pinterest:hover{
      color: white;
      background: #c92228;
      border-color: #c92228;
      &>*{
        color: white;
      }
    }
    &-linkedin:hover{
      color: white;
      background: #0077b5;
      border-color: #0077b5;
      &>*{
        color: white;
      }
    }
  }
}

@media screen and (min-width: 768px){
  .modal-show{
    min-width: 750px;
    &__title{
      font-size: 22px;
    }
    .img-container{
      width: 307px;
      min-height: 286px;
      img{
        height: 286px;
      }
    }
  }

}

@media screen and (min-width: 1200px){
    .modal-show{
      min-width: 1120px;
      font-size: 18px;
      &__title{
        font-size: 26px;
      }
      .img-container{
        width: 430px;
        min-height: 400px;
        img{
          height: 400px;
        }
      }

    }
}







