.top-slider {
  &__area {
    background: #2a2a2a;
    width: 100%;
    height: 302px;
    @media (min-width: 768px) {
      height: 505px;
    }

    &__title {
      line-height: 1;
      margin: 0;
      font-size: 36px;
      font-weight: 200;
      @media (min-width: 768px) {
        font-size: 54px;

        &--strong {
          font-weight: 700;
        }
      }
    }

    &__description {
      color: #fff;
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 0 36px;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }

    &__btn {
      padding: 21px 30px;
      background: #fff;
      color: #2a2a2a;
      font-size: 14px;
      font-weight: 600;
      @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__content {
      text-align: center;
      position: absolute;
      top: calc(50% - 20px);
      width: calc(100% - 28px);
      left: 50%;
      height: 212px;
      align-items: center;
      background: rgba(0,0,0, .5);
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 14px;
      z-index: 0;
      @media (min-width: 768px) {
        height: 214px;
      }
    }
  }
}

.play-controls {
    background: #2a2a2a;
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 39px;

    &__control {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      color: #fff;
      font-size: 14px;

      &:hover {
        text-decoration: none;
        color: #fff;
        background: #d58e32;
      }
    }
}
